package components

type ButtonProps struct {
	Type string
	Text string
}

templ Button(props ButtonProps) {
	<button 
		type={ props.Type } 
		class="w-full bg-teal-800 font-major-mono-display text-white hover:bg-teal-600 py-2.5 font-bold transition-all active:scale-[0.98] cursor-pointer"
	>
		{ props.Text }
	</button>
}
