package view

import (
	"CeratOps/view/layout"
	"CeratOps/view/components"
)

templ IncidentsPage() {
	@layout.AppLayout("Incidents") {
		@components.ActionHeader(components.ActionHeaderProps{
			Title: "Incidents",
			Description: "View and manage incidents",
			ActionTitle: "New Incident",
			ActionURL: "/incidents/new",
		})
	}
}
