package view

import (
	"CeratOps/view/layout"
	"CeratOps/view/components"
)

templ DashboardPage() {
	@layout.AppLayout("Dashboard") {
		@components.ActionHeader(components.ActionHeaderProps{
			Title: "Dashboard",
			Description: "[PLACEHOLDER]",
			ActionTitle: "PLACEHOLDER",
			ActionURL: "#",
		})
	}
}
